{% load static %}
{% include 'main/layout.html' %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Drag & Drop API</title>
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <script src="{% static 'js/drag.js' %}" defer></script>
  <script src="{% static 'js/todo.js' %}" defer></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
    integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
    crossorigin="anonymous"></script>
  <script src="{% static 'js/background.js' %}" defer></script>
  <script src="{% static 'js/jquery-3.6.4.min.js' %}"></script>
</head>

<body>
  <!-- Modal -->
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
  <div class="board">
    <form id="todo-form" method="post" action="posttodo">
      {% csrf_token %}
      <input type="text" name="title" placeholder="New TODO..." id="todo-input" />
      <button type="submit" value="Send">Add +</button>
    </form>

    <div class="lanes">
      <div class="swim-lane" id="todo-lane">
        <h3 class="heading">TODO</h3>
        {% for todo in list %}
        <div class="task" draggable="true">
          <span class="card__tag card__tag--browser">Browser</span>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Launch demo modal
          </button>
          <h5 class="card__title"> {{ todo.title }}</h5>
          <p class="description">{{ todo.description }}</p>
          <div class="separator"></div>
          <div class="info">
            <p>Last Updated</p>
            <p>{{ todo.creation_date }}</p>
            <img src="{% static 'img/man.png' %}" alt="">
          </div>
        </div>
        {% endfor %}

      </div>

      <div class="swim-lane">
        <h3 class="heading">Doing</h3>

      </div>

      <div class="swim-lane">
        <h3 class="heading">Done</h3>

      </div>
    </div>
  </div>

</body>

</html>